<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Exploring Terrorism </title>
        <link href="../static/css/styles.css" rel="stylesheet">
    </head>

    <body>

    <nav>
        <div class="navbar">
            <img  class ="nav_logo" src="../static/img/logo_small.png">
            <a  href="index.html">
                Explore
            </a>
            <a href="analysis.html">
                Analysis
            </a>
            <a href="dataset.html">
                Dataset
            </a>
            <a class="current-page" id="about" href="#">
                About
            </a>
        </div>

    </nav>

    <div class ="container">
        <div class="intro">
            <img style = "width:60%; margin: 0 auto;" src="../static/img/logo.png">
            <p class = "header">Project Introduction</p>
            <p class = "text">In lieu of increased terrorist activity in recent years, it is meaningful to investigate terrorism and its causes over time. Drawing conclusions about motives of terrorists and finding links between socio-economic aspects and terrorist activities is tough yet necessary for governmental bodies to respond amicably in the long run. Our aim is to combine key information from these datasets and discover important trends in attacks in terms of time, place and circumstance and provide efficient visualizations. We not only attempt to draw correlations with external factors such as education, poverty, and religion employing machine learning techniques, but also create an interface for users to perform their own analysis using the data attributes. We hope that this analysis can assist counter-terrorism efforts and raise awareness amongst the general public, intelligence agencies and governments.
            </p>
            <p class = "header">Our Team</p>
        </div>

        <div class="profiles">
            <img id="cooper" style="width:90%;" src="../static/img/cooper.png">
            <p>Cooper Colglazier<br/><span class="program_name">MS HCI</span>, Georgia Tech</p>
            <img id="eugene" style="width:90%;" src="../static/img/eugene.png">
            <p>Eugene Kang<br/><span class="program_name">MSA</span>, Georgia Tech</p>
            <img id="james" style="width:90%;" src="../static/img/james.png">
            <p>Wonhee(James) Lee<br/><span class="program_name">MSA</span>, Georgia Tech</p>
            <img id="minghan" style="width:90%;" src="../static/img/minghan.png">
            <p>Ming Han Xu<br/><span class="program_name">MSA</span>, Georgia Tech</p>
            <img id="scott" style="width:90%;" src="../static/img/scott.png">
            <p>Huaiwei(Scott) Sun<br/><span class="program_name">MS HCI</span>, Georgia Tech</p>
            <img id="vineet" style="width:90%;" src="../static/img/vineet.png">
            <p>Vineet Vinayak Pasupulety<br/><span class="program_name">MS CSE</span>, Georgia Tech</p>
        </div>


    </div>

    <div class="footer">
        <p>Copyright © 2017 All right reserved</p>
    </div>
    
    </body>










</html>
